<div *ngIf="winner!='inconnu'" fxLayout="column" fxLayoutAlign="center center">
  <p class="font2em fontBlack fontBold"><span class="font22em">{{winner}}</span> a gagné la partie !</p>
  <i class="material-icons font5em fontPrimary">sentiment_very_satisfied</i>
  <button mat-raised-button color="accent" class="button-action font2em" (click)="retry()">REJOUER !</button>
</div>
<div *ngIf="winner=='inconnu'" fxLayout="column" fxLayoutAlign="center center">
  <p class="font2em fontBlack">Personne n'a gagné !</p>
  <i class="material-icons font5em fontAccent">sentiment_very_dissatisfied</i>
  <button mat-raised-button color="primary" class="button-action font2em" (click)="retry()">RECOMMENCER !</button>
</div>
