<mat-card class="players">
  <mat-card-header>
    <div mat-card-avatar class="pad5dpRight" fxLayoutAlign="center center"><mat-icon class="icon font25em" color="primary">account_balance</mat-icon></div>
    <mat-card-title class="pad5dpLeft"><span class="mat-headline">Liste des gagnants</span></mat-card-title>
    <mat-card-subtitle class="pad5dpLeft">Les 5 dernières parties</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card class="pad0dp">
  <mat-card-content>
    <div *ngIf="scores==null" fxLayout="column" fxLayoutAlign="center center">
      <h2>Aucune partie enregistrée.</h2>
    </div>
    <div *ngFor="let score of scores; let i = index" class="list-content">
      <mat-list *ngIf="i<display">
        <mat-list-item>
          <div mat-list-icon><mat-icon class="font15em" color="primary">sentiment_very_satisfied</mat-icon></div>
          <h4 mat-line><strong class="mat-headline">{{score.winner}}</strong> <span class="font09em">({{score.player1}} vs {{score.player2}})</span></h4>
          <p mat-line> {{score.date | date}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
