<mat-card>
  <mat-card-content class="grid-game">
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let item of grid">
        <div *ngIf="!item.played" class="full {{!end ? 'add-clic' : null}}" (click)="play(item.id)"></div>
        <mat-icon class="icon-game" color="accent" *ngIf="item.played&&item.player==1">close</mat-icon>
        <mat-icon class="icon-game" color="accent" *ngIf="item.played&&item.player==2">radio_button_unchecked</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
