<div class="container" fxFlex>
  <cg-toolbar (onBegin)="playApp()" (onExit)="quitApp()" (onScore)="getScores()" [play]="play" [score]="score"></cg-toolbar>
  <div class="main-container pad5dp" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon *ngIf="!play" class="icon-play add-clic" color="primary" (click)="playApp()">play_arrow</mat-icon>
    <router-outlet *ngIf="play"></router-outlet>
  </div>
</div>
