<mat-card class="players">
  <mat-card-header>
    <div mat-card-avatar class="pad5dpRight" fxLayoutAlign="center center"><mat-icon class="icon font2em" color="primary">group</mat-icon></div>
    <mat-card-title>Commencez une partie</mat-card-title>
    <mat-card-subtitle>Indiquez le nom des joueurs</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="pad5dpNoBottom">
    <mat-form-field class="full-width font15em">
      <input matInput #player1 placeholder="Joueur 1" required>
    </mat-form-field>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="pad5dpNoBottom">
    <mat-form-field class="full-width font15em">
      <input matInput #player2 placeholder="Joueur 2" required>
    </mat-form-field>
  </mat-card-content>
  <mat-divider *ngIf="error"></mat-divider>
  <div *ngIf="error" class="pad5dp font12em fontError" align="center">
    {{ error ? error : null }}
  </div>
  <mat-divider></mat-divider>
  <mat-card-actions class="pad5dp" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="play(player1.value, player2.value)">JOUER !</button>
  </mat-card-actions>
</mat-card>
