<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tic-Tac-Toe</span>
    <span class="spacer"></span>
    <mat-icon *ngIf="score||play" class="icon add-clic" routerLink="/" (click)="begin()">play_arrow</mat-icon>
    <mat-icon class="icon add-clic" routerLink="/scores" (click)="scores()">format_list_numbered</mat-icon>
    <mat-icon *ngIf="play&&!score" class="icon add-clic" routerLink="/" (click)="quit()">power_settings_new</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
