@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-deep-orange, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.container {
  position: absolute!important;
  top: 0!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.icon-play {
  font-size: 250px;
  margin-top: -250px;
  margin-left: -250px;
}

.icon-game {
  font-size: 200px;
  margin-top: -180px;
  margin-left: -180px;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.players {
  width: 550px;
}

.grid-game {
  background-image:url('./assets/background-game.png');
  width:600px;
  height:600px;
}

html, body {
  box-sizing: border-box;
	height: 100%;
	margin: 0px;
	background-color: #E2E1E0;
	font-family: 'Noto Sans', 'Roboto', Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

.add-clic {
	cursor: pointer;
}

.main-toolbar { }

.main-container {
  position: absolute!important;
  top: 64px!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
}

.mat-container {
	min-height: 100%;
}

.mat-sidenav-start {
  z-index: 5;
	width: 300px;
	box-shadow: 2px 0px 5px #888888;
}

.mat-sidenav-end {
  z-index: 5;
	width: 300px;
	box-shadow: -2px 64px 5px #888888;
}

.mat-sidenav-container {
  position: absolute!important;
  top: 0!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
}

.content {
	padding: 0 10px;
}

.fill-space {
  flex: 1 1 auto;
}

.subheader {
  background-color: #E2E1E0;
  opacity: 0.6;
}

.list-content:nth-child(even) { }

.list-content:nth-child(odd) {
	background-color: #CCCCCC;
}

.notifications {
	background-color: #ED9100!important;
	height: 100%!important;
}

.notifications-icons {
  z-index: 3;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 25px;
  background-color: #FF0000;
  border-radius: 50%;
  font-size: 0.7em!important;
  font-weight: bold;
  line-height: 20px;
}

.copyright {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

.bg-color-primary {
  background-color: #387C23;
}

.bg-color-grey {
  background-color: #777777;
}

.color-grey {
  color: #777777;
}

.color-white {
  color: #FFFFFF;
}

.color-primary {
  color: #387C23;
}

.color-orange {
  color: #ED9100!important;
}

.margin2dp {
  margin: 5px!important;
}

.margin2dpNoBottom {
  margin: 5px 5px 0px 5px!important;
}

.pad0dp {
  padding: 0px!important;
}

.pad2dp {
  padding: 5px!important;
}

.pad2dpLeft {
  padding-left: 5px!important;
}

.pad5dp {
  padding: 10px!important;
}

.pad5dpNoBottom {
  padding: 10px 10px 0px 10px!important;
}

.pad5dpNoTop {
  padding: 0px 10px 10px 10px!important;
}

.pad5dpLeft {
  padding-left: 10px!important;
}

.pad5dpRight {
  padding-right: 10px!important;
}

.fontError {
  color: red;
}

.font07em {
  font-size: 0.7em;
}

.font08em {
  font-size: 0.8em;
}

.font09em {
  font-size: 0.9em;
}

.font1em {
  font-size: 1em;
}

.font12em {
  font-size: 1.2em;
}

.font15em {
  font-size: 1.5em;
}

.font18em {
  font-size: 1.8em;
}

.font2em {
  font-size: 2em;
}

.font22em {
  font-size: 2.2em;
}


.font25em {
  font-size: 2.5em;
}

.font3em {
  font-size: 3em;
}

.font5em {
  font-size: 400px;
}

.fontBlack {
  color: #777777!important;
}

.fontBold {
  font-weight: bold!important;
}

.fontUpper {
  text-transform: uppercase;
}

.fontPrimary {
  color: #3f51b5;
}

.fontAccent {
  color: #ff3d00;
}

.card-radius {
	border-radius: 10px!important;
}

.mat-left-radius {
	border-bottom-left-radius: 10px;
}

.mat-right-radius {
	border-bottom-right-radius: 10px;
}

.border-left {
	border-left: 1px solid #E2E1E0;
}

.border-right {
	border-right: 1px solid #E2E1E0;
}

.card-modules {
  border-radius: 50%!important;
}

.card-new-module {
  margin-left: 95px;
  float: right;
  position: absolute;
}

.card-icon-module {
  text-align: center!important;
}

.card-action {
  padding: 5px 15px!important;
}

.button-action {
  padding: 10px 45px!important;
}

.nav-card {
  padding: 10px 3px!important;
}

.size-128 {
  width: 128px;
  height: 128px;
}

@mixin md-icon-size($size) {
  font-size: $size;
  height: $size;
  width: $size;
}

mat-icon.md-100 {
  @include md-icon-size(100px);
}

.line17px {
	line-height: 12px;
}

.line20px {
	line-height: 15px;
}

.line25px {
	line-height: 25px;
}

.line40px {
	line-height: 40px;
}

.line45px {
	line-height: 45px;
}

.line48px {
	line-height: 48px;
}

.alignCenter {
  text-align: center;
}
